<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/static/signup.css">
</head>
<body>
        <h1 align="center" class="prompt">Get Images</h1>
        <div class="login-page">
        <div class="form">
        <form action="/images" method="POST">
            <input type="text" name = "name" placeholder="Name" required="required"><br>
            <input type="email" name = "email" placeholder="Email" required="required">
            <button>Submit</button>
</form>
</body>
</html>