<!DOCTYPE html>
<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/static/mailsent.css">
</head>
<body>
        <h1 align="center" class="prompt">Check Your Mail</h1>
        <div class="login-page">
        <div class="form">
        <form>
        <p class="message"><a href="/"> Home</a></p>
</form>
</body>
</html>